.aqua {
    background-color: #2596be;
    border: #212529;
}

.image-container {
    position: relative;
    overflow: hidden;
    max-height: 700px;
}
  
.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 30px;
    text-align: center;
    border-radius: 5px;
}

.main-text {
    font-size: 60px;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
}

.home-icons {
    background-color: white;
    width: auto;
    height: 80px;
    padding: 8px;
    border-radius: 50px;
    overflow: hidden;
}

footer p {
    text-align: center;
    font-weight: 600;
}

.car-icon {
    height: 60px;
}

.car-icon.slide-left {
    transform: translateX(-100%);
}

.myCSS {
	background-color: yellow;
}

p {
    text-align: justify;
}

.card-text {
    text-align: start;
}

@media screen and (max-width: 576px) {
    .input-group>.form-control {
        width: 100%;
    }
    .text-md-start{
        text-align: left!important;
    }
}
@media screen and (max-width: 995px) {
    .head {
        padding-top: 5px;
    }
}